*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
}

html {
  font-size: 16px;
}

/* ------ Header ------ */
/* ------------------- */

header {
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  padding: clamp(2.5rem, 6.4vw, 4rem) clamp(1.5rem, 6.4vw, 3.5rem) 0;
  z-index: 1;
  max-width: 76.375rem;
  margin: auto;
}

.logo {
  height: 24px;
  z-index: 1;
}

.ham-icon {
  z-index: 1;
}

nav {
  display: none;
  background-color: #00000000;
}

.navigation-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: clamp(1.5rem, 6.4vw, 3.5rem);
  top: 37%;
}

.navigation-links a {
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.navigation-links li {
  list-style-type: none;
}

.menu-open {
  display: block;
  position: fixed;
  background-color: #000;
  inset: 0 0 0 0;
}

/* ------ Hero Section ------ */
/* ------------------------- */

.hero-section {
  position: relative;
  margin-bottom: clamp(6rem, 4.592rem + 6.009vw, 10rem);
}

.hero-img {
  filter: contrast(1.2);
  width: 100%;
  max-height: 40.625rem;
  object-fit: cover;
}

.title-container {
  position: absolute;
  top: 34.5%;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 76.375rem;
  padding: 0 clamp(1.5rem, 6.4vw, 3.5rem);
  margin: auto;
}

.title-box {
  width: 100%;
  color: #fff;
  border: 2px solid white;
  max-width: clamp(20.438rem, 13.329rem + 30.329vw, 40.625rem);
  max-height: 17.375rem;
}

.title-box h1 {
  padding: clamp(1.625rem, 1.317rem + 1.315vw, 2.5rem)
    clamp(1.5rem, 1.148rem + 1.502vw, 2.5rem)
    clamp(1.5rem, 1.148rem + 1.502vw, 2.5rem);
  font-size: clamp(2.5rem, 1.1197rem + 3.7559vw, 4.5rem);
  line-height: clamp(2.375rem, 1.671rem + 3.005vw, 4.375rem);
  font-weight: normal;
  text-transform: uppercase;
}

/* ------ Company Section ------ */
/* ---------------------------- */

.company-section {
  padding: 0 clamp(1.5rem, 6.4vw, 3.5rem);
  max-width: 76.375rem;
  margin: auto;
}

.company-section img {
  width: 100%;
  margin-bottom: 3rem;
}

.company-info {
  padding: 0 1.5rem;
  text-align: center;
  margin-bottom: 6rem;
}

.company-info h2 {
  margin-bottom: 1rem;
  font-size: clamp(2rem, 1.648rem + 1.502vw, 3rem);
  text-transform: uppercase;
}

.company-info p {
  font-family: 'Alata', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  opacity: 0.5;
}

/* ------ Creation Section ------ */
/* ----------------------------- */

.creation-section {
  padding: 0 1.5rem;
  margin: auto;
  margin-bottom: 6rem;
  max-width: 76.375rem;
  padding: 0 clamp(1.5rem, 6.4vw, 3.5rem);
  text-align: center;
}

.creation-section h2 {
  font-size: clamp(2rem, 1.648rem + 1.502vw, 3rem);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: clamp(3rem, 2.296rem + 3.005vw, 5rem);
}

.grid {
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}

.grid-item {
  position: relative;
  text-align: left;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.grid-item img {
  display: block;
  width: 100%;
  filter: contrast(1.3);
  mix-blend-mode: multiply;
}

.grid-item h3 {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  padding: 0 0 1.25rem 1.25rem;
  font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
  text-transform: uppercase;
  max-width: min-content;
  user-select: none;
}

.grid-item:nth-of-type(5) h3,
.grid-item:nth-of-type(3) h3 {
  max-width: 11.25rem;
}

.creation-section button {
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Alata';
  font-size: 0.875rem;
  line-height: 0.875rem;
  letter-spacing: 5px;
  padding: 0.8125rem 2.375rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 2.125rem;
}

/* ------ Footer ------ */
/* ------------------- */

footer {
  background-color: #000000;
}

.footer {
  padding: 3.5rem 3.1875rem 3.5rem 3.25rem;
  text-align: center;
}

.flex-left {
  padding-bottom: 2.75rem;
}

.flex-left img {
  height: 1.5rem;
  margin-bottom: 2rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-links a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-family: 'Alata';
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.8125rem;
  gap: 1rem;
}

.social-links a {
  position: relative;
}

.flex-right p {
  font-family: 'Alata';
  color: #fff;
  opacity: 0.5;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.navigation-links a::after,
.footer-links a::after,
.social-links a::after {
  content: '';
  display: none;
  height: 2px;
  width: 24px;
  position: absolute;
  top: 1.5rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
}

.social-links a::after {
  top: 1.2rem;
}

@media only screen and (min-width: 700px) {
  .logo {
    height: 2rem;
  }

  nav {
    display: block;
  }

  .ham-icon {
    display: none;
  }

  .navigation-links {
    position: initial;
    flex-direction: row;
    gap: 1.5rem;
    padding-left: 0;
  }

  .navigation-links a {
    text-transform: capitalize;
    font-size: 0.9375rem;
  }

  /* ------ Creation Section ------ */
  /* ----------------------------- */

  .creation-section h2,
  .company-section h2,
  .company-info p {
    text-align: left;
  }

  .company-info {
    padding: 0;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .company-section {
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    margin-bottom: clamp(3.75rem, -6.563rem + 20.625vw, 12rem);
  }

  .company-section img {
    max-width: 731px;
    margin-bottom: 0;
  }

  .company-info {
    padding: 0;
    text-align: left;
    padding-left: 4rem;
    position: absolute;
    margin: auto;
    margin-right: clamp(1.5rem, 6.4vw, 3.5rem);
    padding: clamp(2rem, -3rem + 10vw, 6rem) 0 0 clamp(2rem, -3rem + 10vw, 6rem);
    background-color: #fff;
    right: 0;
    bottom: 0;
    max-width: clamp(26.25rem, 16.797rem + 18.906vw, 33.813rem);
  }

  .company-info p {
    font-size: clamp(0.7rem, 0.367rem + 0.76vw, 0.938rem);
  }

  .footer {
    padding-top: 2.75rem;
    padding-bottom: 2.0625rem;
    display: flex;
    justify-content: space-between;
    max-width: 76.375rem;
    margin: auto;
    height: 160px;
  }

  .flex-left img {
    margin-bottom: 0;
    margin-bottom: 0.875rem;
    margin-bottom: 1.275rem;
  }

  .flex-left {
    text-align: left;
    padding: 0;
  }

  .flex-right {
    text-align: right;
    align-items: flex-end;
  }

  .footer-links {
    flex-direction: row;
  }

  .social-links {
    position: relative;
    padding: 0;
    margin-bottom: 0.875rem;
    margin-bottom: 1.275rem;
    justify-content: end;
  }
}

@media only screen and (min-width: 900px) {
  .hero-img {
    filter: brightness(0.6);
  }
}

@media only screen and (min-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.875rem;
  }

  .grid-item {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .grid-item h3 {
    top: unset;
    line-height: 2rem;
    max-width: min-content;
  }

  .creation-section {
    position: relative;
    margin-bottom: 11.5rem;
  }

  .creation-section button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    margin-right: 3.5rem;
    padding: 0.8125rem 2rem;
    height: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .grid-item h3 {
    padding: 0 0 2rem 2.5rem;
  }
  .grid-item:nth-of-type(5) h3,
  .grid-item:nth-of-type(3) h3 {
    max-width: fit-content;
  }
}

@media (hover: hover) {
  .footer-links li:hover a::after,
  .social-links li:hover a::after {
    display: block;
  }

  .grid-item:hover {
    background: unset;
  }
  .grid-item img:hover {
    cursor: pointer;
    filter: opacity(0.2);
  }

  .grid-item:hover h3 {
    color: #000;
    cursor: pointer;
  }

  .creation-section button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
}

@media (hover: hover) and (min-width: 700px) {
  .navigation-links li:hover a::after {
    display: block;
  }
}
